@import url("https://cdn.jsdelivr.net/npm/vue-orgchart/dist/style.min.css");

svg { display: block; }
polygon { fill: #41B883; }
circle {
  fill: transparent;
  stroke: #35495E;
}
input[type="range"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}